{
    "target_size": [1220,610],
    "tolerance": 0.01,
    "company_name": "de.fablab",
    "serial_port": "/dev/ttyACM0",
    "cookie_key": "secret_key_jkn23489hsdf",
    "language": "de",
    "influx": false,
    "open_browser": false,
    "dummy_mode": false,
    "public": false,
    "accounting": {
        "outputfile": "logs/accounting.json"
    },
    "use_id_card_access_restriction": true,
    "id_card_list_path": "/etc/lasersaur/idlist.txt",
    "id_card_admin_list_path": "/etc/lasersaur/adminidlist.txt",
    "network_port": 8070,
    "idcard_timeout": 10,
    "odoo_url": "http://127.0.0.1:8069",
    "odoo_db": "odoo10",
    "odoo_username": "admin@admin.de",
    "odoo_password": "admin",
    "odoo_use": true,
    "sensor_shield_port": "/dev/ttyACM1",
    "sensor_shield_baud": 115200
}
